<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.mg6.likeornot">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LikeOrNotApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".GridActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="61061f56e8da608a5223af82002016110d77abdc" />

    </application>

</manifest>
